In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dmart-sales/Dmart sales analysis/D-Mart-sales-Analysis-project-.txt
/kaggle/input/dmart-sales/Dmart sales analysis/train (1).csv
/kaggle/input/dmart-sales/Dmart sales analysis/test (1).csv

In [2]:
train = pd.read_csv("/kaggle/input/dmart-sales/Dmart sales analysis/train (1).csv") # edit input path accordingly
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
test = pd.read_csv("/kaggle/input/dmart-sales/Dmart sales analysis/test (1).csv")
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [6]:
train1 = train.drop(['Item_Weight','Outlet_Size','Item_Identifier'],axis=1)
train2 = train.drop(['Item_Weight','Outlet_Size'],axis=1)
test1 = test.drop(['Item_Weight','Outlet_Size','Item_Identifier'],axis=1)

In [7]:
train1['Item_Fat_Content'].unique().tolist()

['Low Fat', 'Regular', 'low fat', 'LF', 'reg']

In [8]:
train1.head()

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,3735.1380
1,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,443.4228
2,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Tier 1,Supermarket Type1,2097.2700
3,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Tier 3,Grocery Store,732.3800
4,Low Fat,0.000000,Household,53.8614,OUT013,1987,Tier 3,Supermarket Type1,994.7052

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train1.Item_Type= le.fit_transform(train1.Item_Type.values)
train1.Item_Fat_Content= le.fit_transform(train1.Item_Fat_Content.values)
train1.Outlet_Identifier= le.fit_transform(train1.Outlet_Identifier.values)
train1.Outlet_Location_Type= le.fit_transform(train1.Outlet_Location_Type.values)
train1.Outlet_Type= le.fit_transform(train1.Outlet_Type.values)
train1.head()

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,1,0.016047,4,249.8092,9,1999,0,1,3735.1380
1,2,0.019278,14,48.2692,3,2009,2,2,443.4228
2,1,0.016760,10,141.6180,9,1999,0,1,2097.2700
3,2,0.000000,6,182.0950,0,1998,2,0,732.3800
4,1,0.000000,9,53.8614,1,1987,2,1,994.7052

In [10]:
test1.head()

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type
0,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Tier 1,Supermarket Type1
1,reg,0.038428,Dairy,87.3198,OUT017,2007,Tier 2,Supermarket Type1
2,Low Fat,0.099575,Others,241.7538,OUT010,1998,Tier 3,Grocery Store
3,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Tier 2,Supermarket Type1
4,Regular,0.118599,Dairy,234.2300,OUT027,1985,Tier 3,Supermarket Type3

In [11]:
test1.Item_Type= le.fit_transform(test1.Item_Type.values)
test1.Item_Fat_Content= le.fit_transform(test1.Item_Fat_Content.values)
test1.Outlet_Identifier= le.fit_transform(test1.Outlet_Identifier.values)
test1.Outlet_Location_Type= le.fit_transform(test1.Outlet_Location_Type.values)
test1.Outlet_Type= le.fit_transform(test1.Outlet_Type.values)
test1.head()

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type
0,1,0.007565,13,107.8622,9,1999,0,1
1,4,0.038428,4,87.3198,2,2007,1,1
2,1,0.099575,11,241.7538,0,1998,2,0
3,1,0.015388,13,155.0340,2,2007,1,1
4,2,0.118599,4,234.2300,5,1985,2,3

In [12]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Fat_Content           8523 non-null   int64
 1   Item_Visibility            8523 non-null   float64
 2   Item_Type                  8523 non-null   int64
 3   Item_MRP                   8523 non-null   float64
 4   Outlet_Identifier          8523 non-null   int64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Location_Type       8523 non-null   int64
 7   Outlet_Type                8523 non-null   int64
 8   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(3), int64(6)
memory usage: 599.4 KB

In [13]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Fat_Content           5681 non-null   int64
 1   Item_Visibility            5681 non-null   float64
 2   Item_Type                  5681 non-null   int64
 3   Item_MRP                   5681 non-null   float64
 4   Outlet_Identifier          5681 non-null   int64
 5   Outlet_Establishment_Year  5681 non-null   int64
 6   Outlet_Location_Type       5681 non-null   int64
 7   Outlet_Type                5681 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 355.2 KB

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

df_train, df_test = train_test_split(train1, test_size=0.2, random_state=100)

X_train = df_train.drop(columns=['Item_Outlet_Sales'])
y_train = df_train['Item_Outlet_Sales']
X_test = df_test.drop(columns=['Item_Outlet_Sales'])
y_test = df_test['Item_Outlet_Sales']

model1 = LinearRegression()

model1.fit(X_train, y_train)

test_predictions = model1.predict(X_test)
rmse = mean_squared_error(y_test, test_predictions, squared=False)
mae = mean_absolute_error(y_test, test_predictions)
r2 = r2_score(y_test, test_predictions)

print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"R-squared (R2): {r2:.2f}")

# model2 = LogisticRegression()

# model2.fit(X_train, y_train)

# test_predictions = model2.predict(X_test)
# rmse = mean_squared_error(y_test, test_predictions, squared=False)
# mae = mean_absolute_error(y_test, test_predictions)
# r2 = r2_score(y_test, test_predictions)

# print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
# print(f"Mean Absolute Error (MAE): {mae:.2f}")
# print(f"R-squared (R2): {r2:.2f}")

Root Mean Squared Error (RMSE): 1229.14
Mean Absolute Error (MAE): 926.32
R-squared (R2): 0.49

In [17]:
test_pred = model1.predict(test1)

In [18]:
prediction_df = pd.DataFrame({'Item_Identifier': test['Item_Identifier'], 'Item_Outlet_Sales': test_pred})

prediction_df.index = range(len(prediction_df))

prediction_df.to_csv('pred.csv', index=False)

print("Predictions saved to 'pred.csv'.")

Predictions saved to 'pred.csv'.